@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.no-tailwind * {
    all: revert;
}

.no-tailwind table td {
    padding: 0.5rem;
    border: 1px solid #e2e8f0;
}

.no-tailwind img {
    max-width: 100%;
    height: auto;
}

.img-hover {
    filter: grayscale(0);
}

.swiper {
    /* width: 100%;
    height: 100%; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-pagination .swiper-pagination-bullet-active {
    background-color: green;
}